In [4]:
import pandas as pd

# Sample customer data
customers = pd.DataFrame({
    'customer_id': [1, 2, 3, 4, 5],
    'name': ['Alice', 'Bob', 'Charlie', 'David', 'Eve'],
    'segment': ['Premium', 'Standard', 'Premium', 'Standard', 'Premium']
})
customers

   customer_id     name   segment
0            1    Alice   Premium
1            2      Bob  Standard
2            3  Charlie   Premium
3            4    David  Standard
4            5      Eve   Premium

In [6]:
# Sample order data
orders = pd.DataFrame({
    'order_id': [101, 102, 103, 104, 105],
    'customer_id': [1, 2, 3, 6, 1],  # Note: customer_id 6 doesn't exist in customers
    'amount': [150.50, 200.25, 50.75, 300.00, 120.80]
})
orders

   order_id  customer_id  amount
0       101            1  150.50
1       102            2  200.25
2       103            3   50.75
3       104            6  300.00
4       105            1  120.80

In [15]:
# Jointure interne – uniquement les enregistrements correspondants dans les deux DataFrames
inner_join = customers.merge(orders, on='customer_id', how='inner')
print("Résultat de la jointure interne :")
print(inner_join)

Résultat de la jointure interne :
   customer_id     name   segment  order_id  amount
0            1    Alice   Premium       101  150.50
1            1    Alice   Premium       105  120.80
2            2      Bob  Standard       102  200.25
3            3  Charlie   Premium       103   50.75

In [14]:
# Jointure gauche – tous les enregistrements du DataFrame de gauche, correspondants du droit
left_join = customers.merge(orders, on='customer_id', how='left')
print("\nRésultat de la jointure gauche :")
print(left_join)

Résultat de la jointure gauche :
   customer_id     name   segment  order_id  amount
0            1    Alice   Premium     101.0  150.50
1            1    Alice   Premium     105.0  120.80
2            2      Bob  Standard     102.0  200.25
3            3  Charlie   Premium     103.0   50.75
4            4    David  Standard       NaN     NaN
5            5      Eve   Premium       NaN     NaN

In [13]:
# Jointure droite – tous les enregistrements du DataFrame de droite, correspondants du gauche
right_join = customers.merge(orders, on='customer_id', how='right')
print("\nRésultat de la jointure droite :")
print(right_join)

Résultat de la jointure droite :
   customer_id     name   segment  order_id  amount
0            1    Alice   Premium       101  150.50
1            2      Bob  Standard       102  200.25
2            3  Charlie   Premium       103   50.75
3            6      NaN       NaN       104  300.00
4            1    Alice   Premium       105  120.80

In [12]:
# Jointure externe – tous les enregistrements des deux DataFrames
outer_join = customers.merge(orders, on='customer_id', how='outer')
print("\nRésultat de la jointure externe :")
print(outer_join)

Résultat de la jointure externe :
   customer_id     name   segment  order_id  amount
0            1    Alice   Premium     101.0  150.50
1            1    Alice   Premium     105.0  120.80
2            2      Bob  Standard     102.0  200.25
3            3  Charlie   Premium     103.0   50.75
4            4    David  Standard       NaN     NaN
5            5      Eve   Premium       NaN     NaN
6            6      NaN       NaN     104.0  300.00

In [11]:
# Jointure avec des noms de colonnes différents
customers_alt = customers.rename(columns={'customer_id': 'cust_id'})
join_diff_cols = customers_alt.merge(
    orders, 
    left_on='cust_id',  # Nom de la colonne dans le DataFrame de gauche
    right_on='customer_id',  # Nom de la colonne dans le DataFrame de droite
    how='inner'
)
print("\nJointure avec des noms de colonnes différents :")
print(join_diff_cols)

Jointure avec des noms de colonnes différents :
   cust_id     name   segment  order_id  customer_id  amount
0        1    Alice   Premium       101            1  150.50
1        1    Alice   Premium       105            1  120.80
2        2      Bob  Standard       102            2  200.25
3        3  Charlie   Premium       103            3   50.75

In [ ]:
# Jointure sur plusieurs colonnes
multi_key_df1 = pd.DataFrame({
    'key1': ['A', 'B', 'C', 'D'],
    'key2': [1, 2, 3, 4],
    'value': [100, 200, 300, 400]
})

multi_key_df2 = pd.DataFrame({
    'key1': ['A', 'B', 'C', 'E'],
    'key2': [1, 2, 3, 5],
    'other_value': [10, 20, 30, 50]
})

multi_key_join = multi_key_df1.merge(
    multi_key_df2, 
    on=['key1', 'key2'],  # Jointure sur plusieurs colonnes
    how='inner'
)
print("\nJointure sur plusieurs clés :")
print(multi_key_join)

Jointure sur plusieurs clés :
  key1  key2  value  other_value
0    A     1    100           10
1    B     2    200           20
2    C     3    300           30